<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Zavala Club" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <% if @poem.present? %>
      <meta property="description" content="A Destiny-related poem, just for you." />

      <meta property="og:title" content="Zavala Club" />
      <meta property="og:description" content="A Destiny-related poem, just for you." />
      <meta property="og:image" content="https://zavala.club/<%= @poem.digest %>.jpg" />
      <meta property="og:url" content="https://zavala.club/<%= @poem.digest %>" />

      <meta property="twitter:title" content="Zavala Club" />
      <meta property="twitter:description" content="A Destiny-related poem, just for you." />
      <meta property="twitter:card" content="summary_large_image" />
      <meta property="twitter:image" content="https://zavala.club/<%= @poem.digest %>.jpg" />
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag :app %>
    <%= javascript_tag type: 'application/javascript' do -%>
      function showShareMenu(path) {
        window.event.preventDefault();

        if (window.navigator.share) {
          window.navigator.share({
            title: 'Zavala Club / Poem',
            url: "https://zavala.club" + path
          }).then(result => {}).catch(error => {});
        } else {
          return true;
        }
      }
    <% end -%>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
